.form {
    display: flex; 
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.form-label {
    font-weight: bolder;
    margin-bottom: 5px;
}

.form-text-input {
    height: 30px;
    font-size: 100%;
    padding-left: 3px;
}

.form-group__row {
    flex-direction: row;
}

.button {
    background-color: var(--theme-colour);
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}